<section class="user">
    <div class="user_options-container">
      <div class="user_options-text">
        
  
        <div class="user_options-registered">
          <h2 class="user_registered-title">Have an account?</h2>
          <p class="user_registered-text">login inside the new era</p>
         <a routerLink="/Slogin"><button class="user_registered-login" id="login-button">Login</button></a>
        </div>
      </div>
      
      <div class="user_options-forms" id="user_options-forms">
        <img src="../../assets/sukali (1).png" class="logo"  style=" width: 26.9%;" alt="">
        <div class="user_forms-login">
          <h2 class="forms_title">Forgot Password</h2>
          
          <form class="forms_form">
           
            <fieldset class="forms_fieldset">
              
              <div class="forms_field">
                <input type="email" placeholder="Email" class="forms_field-input" #email1 required autofocus />
              </div>`
            </fieldset>
            <div class="forms_buttons">
              
              <input type="submit" value="submit"  class="forms_buttons-action">
             
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </section>
