<!-- header -->
<input type="checkbox" name="" id="cart">
<label for="cart" class="label-cart"><span class="fas fa-shopping-cart"></span></label>
<h3 class="logo"> sukali food delivery app</h3>

<!-- sidebar -->
<div class="sidebar">
    <div class="sidebar-menu">
        <span class="fas fa-search"></span>
        <a href="a">Search</a>
    </div>
    <div class="sidebar-menu">
        <span class="fas fa-home"></span>
        <a href="a">Home</a>
    </div>
    <div class="sidebar-menu">
        <span class="fas fa-heart"></span>
        <a href="a">favs</a>
    </div>
    <div class="sidebar-menu">
        <span class="fas fa-user"></span>
        <a href="a">Profile</a>
    </div>
    <div class="sidebar-menu">
        <span class="fas fa-sliders-h"></span>
        <a href="a">Setting</a>
    </div>

</div>
<!-- main dashboard -->
<div class="dashboard">
    <div class="dashboard-banner">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../../assets/blog-1.jpg" class="d-block " alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../assets/food4.jfif" class="d-block " alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../assets/hero.png" class="d-block " alt="...">
              </div>
            </div>
          </div>
        <div class="banner-promo">
            <h1><span>50% OFF</span><br>
            Tasty Food <br>On Your Hand</h1>
        </div>
    </div>

    <h3 class="dashboard-title">Recommand Food For You</h3>
    <div class="dashboard-menu">
        <a href="">Favoites</a>
        <a href="">best seller </a>
        <a href="">near me</a>
        <a href="">promotion</a>
        <a href="">top rated</a>
        <a href="">All</a>

    </div>
    <div class="dashboard-content">
        <div class="dashboard-card">
            <img src="../../assets/blog-2.jpg" class="card-image" alt="" [(ngModel)]="img_cart">
            <div class="card-detail">
                <h4>Amazing pizza <span>$30</span></h4>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
                <p class="card-time"><span class="fas fa-heck"></span> 15-30 mins</p>
            </div>
            
        </div>
        <div class="dashboard-card">
            <img src="../../assets/blog-3.jpg" class="card-image" alt="">
            <div class="card-detail">
                <h4>fresh salad <span>$30</span></h4>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
                <p class="card-time"><span class="fas fa-heck"></span> 15-30 mins</p>
            </div>
            
        </div>
        <div class="dashboard-card">
            <img src="../../assets/blog-4.jpg" class="card-image" alt="">
            <div class="card-detail">
                <h4>swett pancake <span>$30</span></h4>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
                <p class="card-time"><span class="fas fa-heck"></span> 15-30 mins</p>
            </div>
            
        </div>
        <div class="dashboard-card">
            <img src="../../assets/blog-4.jpg" class="card-image" alt="">
            <div class="card-detail">
                <h4>well dponr steak<span>$30</span></h4>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
                <p class="card-time"><span class="fas fa-heck"></span> 15-30 mins</p>
            </div>
            
        </div>
        <div class="dashboard-card">
            <img src="../../assets/blog-4.jpg" class="card-image" alt="">
            <div class="card-detail">
                <h4>well dponr steak<span>$30</span></h4>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
                <p class="card-time"><span class="fas fa-heck"></span> 15-30 mins</p>
            </div>
            
        </div>
        <div class="dashboard-card">
            <img src="../../assets/blog-4.jpg" class="card-image" alt="">
            <div class="card-detail">
                <h4>healthy breakfast <span>$30</span></h4>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
                <p class="card-time"><span class="fas fa-heck"></span> 15-30 mins</p>
            </div>
            
        </div>
    </div>
</div>

<!-- order dashboard -->
<div class="dashboard-order">
    <h3>order menu</h3>
    <div class="order-address">
        <p>address delivery</p>
        <h4>221 baker bepanda </h4>
    </div>
    <div class="order time">
        <span class="fas fa-heck"></span>30 mins <span class="fas fa-map-marker-alt"></span>2 km
    </div>
    <div class="order-wrapper">
        <div class="order-card">
           <img src="../../assets/blog-6.jpg" class="order-image" alt="">
           <div class="order-detail">
            <p>Lorem ipsum dolor sit amet.</p>
            <i class="fas fa-times"></i><input type="text" name="" value="1" id="">

           </div>
           <h4 class="order-price">$35</h4>
        </div>
        <div class="order-card">
           <img src="../../assets/food1.jpg" class="order-image" alt="">
           <div class="order-detail">
            <p>Lorem ipsum dolor sit amet.</p>
            <i class="fas fa-times"></i><input type="text" name="" value="1" id="">

           </div>
           <h4 class="order-price">$35</h4>
        </div>
        <div class="order-card">
           <img src="../../assets/food2.jfif" class="order-image" alt="">
           <div class="order-detail">
            <p>Lorem ipsum dolor sit amet.</p>
            <i class="fas fa-times"></i><input type="text" name="" value="1" id="">

           </div>
           <h4 class="order-price">$35</h4>
        </div>
        <div class="order-card">
           <img src="../../assets/blog-3.jpg" class="order-image" alt="">
           <div class="order-detail">
            <p>Lorem ipsum dolor sit amet.</p>
            <i class="fas fa-times"></i><input type="text" name="" value="1" id="">
           </div>
           <h4 class="order-price">$35</h4>
        </div>
    </div>
    
        <hr class="divider">
        <div class="order-total">
            <p>subtotal <span>$156</span></p>
            <p>Tax (10%) <span>$15</span></p>
            <p>delivery fee<span>$4</span></p>
            <hr class="divider">
            <!-- <div class="order-promo">
                 <input type="text" name="" class="input-promo" id=""n placeholder="Apply ">
                 <button class="button-promo">apply</button>
               
                 <p>total <span>$174</span></p> 
            </div> !-->
            <button class="checkout">checkout</button>
        </div>

</div>
